@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
}

#body {
  padding: 24px 6%;
  margin-top: 60px;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image .card {
  height: 200px;
  width: 400px;
  background-image: url("../Image/technology.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.image .p p {
  font-size: 14px;
  font-weight: 500;
  margin: 0.2px;
}
.image .p h1 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.Introduction h1 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}

.Introduction p {
  font-size: 14px;

  text-align: justify;
}
.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contents .card {
  height: 200px;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.contents .card .slider img {
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

/* Fading animation */
.contents .card iframe {
  border-radius: 10px;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
}
.footer {
  background-color: #045a8b;
  color: white;
  margin-top: 40px;
  padding: 30px 6%;
}
.footer .logo p {
  margin: 0;
  padding: 0;
  margin-left: 550px;
}
.footer .logo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}
.footer .logo a {
  color: white;
  text-decoration: none;
}
.footer .logo a:hover {
  color: red;
}

.footer .logo #time {
  margin-left: 60px;
}

.contents {
  margin-top: 50px;
}
