@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
#navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
}
.navbar {
  padding: 24px 6%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.navbar a {
  color: #707070;
  padding: 0px 14px;
  text-decoration: none;
  font-size: 14px;
}
.center-navigation {
  text-align: center;
}
.navbar a:hover {
  color: rgb(255, 0, 0);
}

.mainheading {
  padding: 24px 6%;
}

.mainheading h1 {
  font-size: 35px;
  margin: 0;
  color: #5e5e5e;
}

.mainheading a {
  color: rgb(83, 83, 83);
  font-size: 18px;
}
.mainheading a:hover {
  color: rgb(255, 0, 0);
  font-size: 18px;
}

.form {
  padding: 14px 6%;
}

input[type="text"] {
  background-color: #c9c7c7;
  border: none;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
  width: 30%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
}

input[type="text"]::placeholder {
  color: #ffffff;
  font-size: 14px;
}
.gender {
  margin-bottom: 15px;
}
.gender h1 {
  font-size: 16px;
  margin-bottom: 15px;
  margin: 0;
  margin-bottom: 6px;
}

.gender .radio {
  display: flex;
  vertical-align: middle;
  font-size: 14px;
  align-items: center;
}
.gender input {
  margin: 0;
  margin-left: 2px;
}

#textarea {
  background-color: #d8d5d5;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
  padding: 7px;
  width: 63%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#textarea:focus {
  background-color: rgb(255, 255, 255);
  border-radius: #03d7fc;
}

#textarea::placeholder {
  color: #ffffff;
  font-size: 14px;
}

.btn {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  background-color: #00b828;
}

.footer {
  background-color: #045a8b;
  color: white;
  padding: 30px 6%;
  margin-top: 70px;
}
.footer .logo p {
  margin: 0;
  padding: 0;
  margin-left: 550px;
}
.footer .logo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}
.footer .logo a {
  color: white;
  text-decoration: none;
}
.footer .logo a:hover {
  color: red;
}

.footer .logo #time {
  margin-left: 60px;
}
