.footer {
  background-color: #045a8b;
  color: white;
  padding: 30px 6%;
}
.footer .logo p {
  margin: 0;
  padding: 0;
  margin-left: 550px;
}
.footer .logo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}
.footer .logo a {
  color: white;
  text-decoration: none;
}
.footer .logo a:hover {
  color: red;
}

.footer .logo #time {
  margin-left: 60px;
}
