* {
  font-family: "Montserrat", sans-serif;
}

.bg-image {
  background-image: url("../Image/Bacgroundimage.jpg");
  background-position: center;
  overflow: hidden;
  background-size: cover;
  height: 82vh;
  width: 100vw;
}

.mainheading {
  display: flex;
  align-items: center;
  height: 70vh;
}

.padding {
  padding: 10px 6%;
}
.mainheading h1 {
  font-size: 24px;
  color: #525151;
}

.mainheading h1 span {
  font-size: 52px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.btn-cv {
  margin-top: -15%;
}
.btn-cv a {
  color: #ffffff;
  padding: 10px 1%;
  font-size: 14px;
  font-weight: 600;
  background: #0052b1;
  border-radius: 6px;
  text-decoration: none;
}

.btn-cv a:hover {
  background-color: #a8a7a7;
  color: black;
  font-weight: 600;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
}

.footer {
  background-color: #045a8b;
  color: white;
  padding: 30px 6%;
}
.footer .logo p {
  margin: 0;
  padding: 0;
  margin-left: 550px;
}
.footer .logo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}
.footer .logo a {
  color: white;
  text-decoration: none;
}
.footer .logo a:hover {
  color: red;
}

.footer .logo #time {
  margin-left: 60px;
}
