#navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 15%);
}
.navbar {
  padding: 24px 6%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.navbar a {
  color: #707070;
  padding: 0px 14px;
  text-decoration: none;
  font-size: 14px;
}
.center-navigation {
  text-align: center;
}
.navbar a:hover {
  color: rgb(255, 0, 0);
}
