@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
#body {
  padding: 24px 6%;
}
#body .Portfolio-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76vh;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0px rgb(0 0 0 / 8%);
}

.Portfolio-wrap .card {
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 8px 0px 12px 0px rgb(0 0 0 / 8%);
  width: 20%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Portfolio-wrap .card h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  margin-top: 3%;
}
.Portfolio-wrap .card p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-top: 3%;
}

.Portfolio-wrap .card .personal-information {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: red;
  padding: 4%;
  margin-top: 50px;
}

.Portfolio-wrap .card .personal-information h1 {
  background: #000;
  font-weight: 600;
  width: 80%;
  font-size: 14px;
  padding: 4%;
  margin-left: 6%;
  margin-top: -12%;
}
.Portfolio-wrap .card .personal-information p {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding: 0px 6%;
}
.Portfolio-wrap .card .language {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: red;
  padding: 4%;
}

.Portfolio-wrap .card .language h1 {
  background: #000;
  font-weight: 600;
  width: 80%;
  font-size: 14px;
  padding: 4%;
  margin-left: 6%;
}
.Portfolio-wrap .card .language p {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding: 0px 6%;
}
.Portfolio-wrap .card .Contact {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40%;
  border-bottom-left-radius: 8px;
  background-color: red;
  padding: 4%;
}
.Portfolio-wrap .card .Contact h1 {
  background: #000;
  font-weight: 600;
  width: 80%;
  font-size: 14px;
  padding: 4%;
  margin-left: 6%;
}
.Contact .socialMedia {
  margin-top: 4%;
}
.Contact .socialMedia a {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.card .image {
  margin-top: 30px;
}
.card .image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.information {
  width: 80%;
  padding: 3% 4%;
}

.information h1 {
  font-size: 18px;
}

.information p {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.information .Education p {
  font-size: 15px;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
}

.information .Education li {
  font-size: 14px;
}
